Model/src/enpit/sample/adf12/restadfbc/model/service/common/serviceinterface/HRAppModuleService.wsdl

<wsdl:definitions
     name="HRAppModuleService"
     targetNamespace="/enpit/sample/adf12/restadfbc/model/service/common/"
     xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="/enpit/sample/adf12/restadfbc/model/service/common/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:types="/enpit/sample/adf12/restadfbc/model/service/common/types/"
    >
    <wsdl:import namespace="http://xmlns.oracle.com/adf/svc/errors/" location="classpath:/META-INF/wsdl/ServiceException.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="/enpit/sample/adf12/restadfbc/model/service/common/types/" schemaLocation="HRAppModuleService.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="HRAppModuleService_createDepartmentsView1">
        <wsdl:part name="parameters" element="types:createDepartmentsView1"/>
    </wsdl:message>
    <wsdl:message name="HRAppModuleService_createDepartmentsView1Response">
        <wsdl:part name="parameters" element="types:createDepartmentsView1Response"/>
    </wsdl:message>
    <wsdl:message name="HRAppModuleService_updateDepartmentsView1">
        <wsdl:part name="parameters" element="types:updateDepartmentsView1"/>
    </wsdl:message>
    <wsdl:message name="HRAppModuleService_updateDepartmentsView1Response">
        <wsdl:part name="parameters" element="types:updateDepartmentsView1Response"/>
    </wsdl:message>
    <wsdl:message name="HRAppModuleService_mergeDepartmentsView1">
        <wsdl:part name="parameters" element="types:mergeDepartmentsView1"/>
    </wsdl:message>
    <wsdl:message name="HRAppModuleService_mergeDepartmentsView1Response">
        <wsdl:part name="parameters" element="types:mergeDepartmentsView1Response"/>
    </wsdl:message>
    <wsdl:message name="HRAppModuleService_getEmployeesView1">
        <wsdl:part name="parameters" element="types:getEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="HRAppModuleService_getEmployeesView1Response">
        <wsdl:part name="parameters" element="types:getEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:message name="HRAppModuleService_updateEmployeesView1">
        <wsdl:part name="parameters" element="types:updateEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="HRAppModuleService_updateEmployeesView1Response">
        <wsdl:part name="parameters" element="types:updateEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:message name="HRAppModuleService_getDepartmentsView1">
        <wsdl:part name="parameters" element="types:getDepartmentsView1"/>
    </wsdl:message>
    <wsdl:message name="HRAppModuleService_getDepartmentsView1Response">
        <wsdl:part name="parameters" element="types:getDepartmentsView1Response"/>
    </wsdl:message>
    <wsdl:message name="HRAppModuleService_findDepartmentsView1">
        <wsdl:part name="parameters" element="types:findDepartmentsView1"/>
    </wsdl:message>
    <wsdl:message name="HRAppModuleService_findDepartmentsView1Response">
        <wsdl:part name="parameters" element="types:findDepartmentsView1Response"/>
    </wsdl:message>
    <wsdl:message name="HRAppModuleService_createEmployeesView1">
        <wsdl:part name="parameters" element="types:createEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="HRAppModuleService_createEmployeesView1Response">
        <wsdl:part name="parameters" element="types:createEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:message name="HRAppModuleService_mergeEmployeesView1">
        <wsdl:part name="parameters" element="types:mergeEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="HRAppModuleService_mergeEmployeesView1Response">
        <wsdl:part name="parameters" element="types:mergeEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:message name="HRAppModuleService_findEmployeesView1">
        <wsdl:part name="parameters" element="types:findEmployeesView1"/>
    </wsdl:message>
    <wsdl:message name="HRAppModuleService_findEmployeesView1Response">
        <wsdl:part name="parameters" element="types:findEmployeesView1Response"/>
    </wsdl:message>
    <wsdl:portType name="HRAppModuleService">
        <wsdl:documentation>
            <ViewInstance xmlns="http://xmlns.oracle.com/adf/svc/metadata/" Name="DepartmentsView1" xmlns:ns0="/enpit/sample/adf12/restadfbc/model/query/common/"
                 SDOName="ns0:DepartmentsViewSDO" CreateOpName="createDepartmentsView1" UpdateOpName="updateDepartmentsView1"
                 MergeOpName="mergeDepartmentsView1" GetOpName="getDepartmentsView1" FindOpName="findDepartmentsView1"/>
            <ViewInstance xmlns="http://xmlns.oracle.com/adf/svc/metadata/" Name="EmployeesView1" xmlns:ns0="/enpit/sample/adf12/restadfbc/model/query/common/"
                 SDOName="ns0:EmployeesViewSDO" CreateOpName="createEmployeesView1" UpdateOpName="updateEmployeesView1"
                 MergeOpName="mergeEmployeesView1" GetOpName="getEmployeesView1" FindOpName="findEmployeesView1"/>
        </wsdl:documentation>
        <wsdl:operation name="createDepartmentsView1">
            <wsdl:input message="tns:HRAppModuleService_createDepartmentsView1"/>
            <wsdl:output message="tns:HRAppModuleService_createDepartmentsView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="updateDepartmentsView1">
            <wsdl:input message="tns:HRAppModuleService_updateDepartmentsView1"/>
            <wsdl:output message="tns:HRAppModuleService_updateDepartmentsView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="mergeDepartmentsView1">
            <wsdl:input message="tns:HRAppModuleService_mergeDepartmentsView1"/>
            <wsdl:output message="tns:HRAppModuleService_mergeDepartmentsView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getEmployeesView1">
            <wsdl:input message="tns:HRAppModuleService_getEmployeesView1"/>
            <wsdl:output message="tns:HRAppModuleService_getEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="updateEmployeesView1">
            <wsdl:input message="tns:HRAppModuleService_updateEmployeesView1"/>
            <wsdl:output message="tns:HRAppModuleService_updateEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getDepartmentsView1">
            <wsdl:input message="tns:HRAppModuleService_getDepartmentsView1"/>
            <wsdl:output message="tns:HRAppModuleService_getDepartmentsView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="findDepartmentsView1">
            <wsdl:input message="tns:HRAppModuleService_findDepartmentsView1"/>
            <wsdl:output message="tns:HRAppModuleService_findDepartmentsView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="createEmployeesView1">
            <wsdl:input message="tns:HRAppModuleService_createEmployeesView1"/>
            <wsdl:output message="tns:HRAppModuleService_createEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="mergeEmployeesView1">
            <wsdl:input message="tns:HRAppModuleService_mergeEmployeesView1"/>
            <wsdl:output message="tns:HRAppModuleService_mergeEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="findEmployeesView1">
            <wsdl:input message="tns:HRAppModuleService_findEmployeesView1"/>
            <wsdl:output message="tns:HRAppModuleService_findEmployeesView1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HRAppModuleServiceSoapHttp" type="tns:HRAppModuleService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createDepartmentsView1">
            <soap:operation soapAction="/enpit/sample/adf12/restadfbc/model/service/common/createDepartmentsView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateDepartmentsView1">
            <soap:operation soapAction="/enpit/sample/adf12/restadfbc/model/service/common/updateDepartmentsView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="mergeDepartmentsView1">
            <soap:operation soapAction="/enpit/sample/adf12/restadfbc/model/service/common/mergeDepartmentsView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEmployeesView1">
            <soap:operation soapAction="/enpit/sample/adf12/restadfbc/model/service/common/getEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateEmployeesView1">
            <soap:operation soapAction="/enpit/sample/adf12/restadfbc/model/service/common/updateEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDepartmentsView1">
            <soap:operation soapAction="/enpit/sample/adf12/restadfbc/model/service/common/getDepartmentsView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findDepartmentsView1">
            <soap:operation soapAction="/enpit/sample/adf12/restadfbc/model/service/common/findDepartmentsView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createEmployeesView1">
            <soap:operation soapAction="/enpit/sample/adf12/restadfbc/model/service/common/createEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="mergeEmployeesView1">
            <soap:operation soapAction="/enpit/sample/adf12/restadfbc/model/service/common/mergeEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findEmployeesView1">
            <soap:operation soapAction="/enpit/sample/adf12/restadfbc/model/service/common/findEmployeesView1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HRAppModuleService">
        <wsdl:port name="HRAppModuleServiceSoapHttpPort" binding="tns:HRAppModuleServiceSoapHttp">
            <soap:address location="http://localhost:7101/enpit.sample.adf12.restadfbc-Model-context-root/HRAppModuleService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
